
.mat-card {
    position: absolute;
    top: 11px;
    left: 11px;
    right: 11px;
    bottom: 11px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    background-color: #2a2a2b;
    justify-content: top;
    align-items: center;
    width:auto;
}
.value-text {
    text-align: center;
    color: white;
    display: grid;
}

.avatar-icon {
    transform: scale(2);
    color: yellow;
    padding-bottom: 12px;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
}