
.mat-card {
    position: absolute;
    top: 11px;
    // left: 11px;
    right: 11px;
    bottom: 11px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    // background-color: #2a2a2b;
    background-color: #272e48;
    justify-content: space-between;
    align-items: center;
    width:auto;
}

.title {
    order: 0;
    text-align: center;
    color: white;
}

.value {
    order: 1;
    text-align: center;
    color: white;
}

.percent {
    order: 2;
    color: gray;
    text-align: center;
}

.avatar-icon {
    transform: scale(2);
    color: yellow;
    padding-bottom: 12px;
}

.red {
    color: red;
}

.green {
    color: green;
}