<mat-drawer-container [style]=style>
    <mat-drawer mode="side" opened>
        <div class="imgtext">
            <b>Charge Controllers/Solar Panels</b>
        </div>
        <div>
            <img class="img" src="../../assets/charge.png" width="250" height="232">
        </div>
        <div>
            <img class="img" src="../../assets/panel.png" width="250" height="232">
        </div>
    </mat-drawer>
    <mat-drawer-content class="text">
        <div>
            <b>Attributes</b>
        </div>

        <div>
            <b>Status: On</b>
        </div>

        <div>
            <b>Solar Panel Production: 20W</b>
        </div>

        <div>
            <b>Power To Battery: 5W</b>
        </div>

        <div>
            <b>Power To Inverter: 20W</b>
        </div>
    </mat-drawer-content>
</mat-drawer-container>