<mat-drawer-container [style]=style>
    <mat-drawer mode="side" opened>
        <div class="imgtext">
            <b>Schneider Charge Controllers</b>
        </div>
        <img class="img" src="../../assets/charge.png" width="250" height="300">
    </mat-drawer>
    <mat-drawer-content>
        <div class="text">
            <b>Attributes</b>
        </div>

        <div>
            <b>Status: On</b>
        </div>

        <div>
            <b>Solar Panel Production: 20W</b>
        </div>

        <div>
            <b>Power To Battery: 5W</b>
        </div>

        <div>
            <b>Power To Inverter: 20W</b>
        </div>
    </mat-drawer-content>
</mat-drawer-container>