<!--dash.component.html-->
<div class="darkMode">
  <div #content class="grid-container">
    <h1 class="mat-h1" style="color: white">Dashboard</h1>
    <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="240px" [gutterSize]="'10px'">
      <mat-grid-tile [colspan]="( cardLayout | async )?.power.cols" [rowspan]="( cardLayout | async )?.power.rows">
          <power-component></power-component>
      </mat-grid-tile>

      <mat-grid-tile class="battery-tile" [colspan]="( cardLayout | async )?.battery.cols" [rowspan]="( cardLayout | async )?.battery.rows">
          <battery-component></battery-component>
      </mat-grid-tile>

      <mat-grid-tile class="weather-tile" [colspan]="( cardLayout | async )?.weather.cols" [rowspan]="( cardLayout | async )?.weather.rows">
        <weather-component></weather-component>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>