<mat-drawer-container [style]=style>
    <mat-drawer mode="side" opened>
        <div class="imgtext">
            <b>Inverter</b>
        </div>
        <img class="img" src="../../assets/inverter.png" width="250" height="300">
    </mat-drawer>
    <mat-drawer-content class="text">
        <div class="close">
            <mat-icon>close</mat-icon>
        </div>

        <div>
            <b>Attributes</b>
        </div>

        <div>
            <b>Status: On</b>
        </div>

        <div>
            <b>Sell Current: 2.5A</b>
        </div>

        <div>
            <b>Power Given to Grid: {{produced}} kW</b>
        </div>

        <div>
            <b>Load Consumption: 0 kW</b>
        </div>
    </mat-drawer-content>
</mat-drawer-container>