.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.img {
    width: 250px; 
    height: 400px;
}

.close {
    position: right;
}

.imgtext {
    text-align: center;
    font-size: 50;
}

.text {
    text-align: center;
    font-size: 30;
}