<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h3>
                <video hidden #videoElement></video>
                <div class="Row">
                    <!-- <div class="Column">
                        <canvas #canvas></canvas>
                    </div> -->
                    <div class="Column">
                        <!-- <inverterAR-component *ngIf="which === 'inverter'"></inverterAR-component>
                        <batteryAR-component *ngIf="which === 'battery'"></batteryAR-component>
                        <pvAR-component *ngIf="which === 'pv'"></pvAR-component>
                        <chargeAR-component *ngIf="which === 'battery'"></chargeAR-component> -->
                        <inverterAR-component></inverterAR-component>
                        <batteryAR-component></batteryAR-component>
                    </div>
                    <div class="Column">
                        <pvAR-component></pvAR-component>
                        <chargeAR-component></chargeAR-component>
                    </div>
                </div>

                <!-- <batteryAR-component *ngIf="which === 'Battery'"></batteryAR-component> -->
                <!-- <batteryAR-component *ngIf="which === 'Battery'"></batteryAR-component> -->
            </h3>
        </div>
    </div>
</div>