.Row {
    display: table;
    width: 85%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 1px; /*Optional*/
    margin-left: 1px;
}
.Column {
    display: table-cell;
    vertical-align: top;
}