<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h3>
                <video hidden #videoElement></video>
                <div class="Row">
                    <div class="Column">
                        <canvas #canvas></canvas>
                    </div>
                    <div class="Column">
                        <inverterAR-component *ngIf="which === 'Inverter'"></inverterAR-component>
                        <batteryAR-component *ngIf="which === 'Battery'"></batteryAR-component>
                    </div>
                </div>

                <!-- <batteryAR-component *ngIf="which === 'Battery'"></batteryAR-component> -->
                <!-- <batteryAR-component *ngIf="which === 'Battery'"></batteryAR-component> -->
            </h3>
        </div>
    </div>
</div>