<mat-card>
        <h3 class="title">
            <mat-icon class="avatar-icon" style="padding-right: 35px">savings</mat-icon>
            <span>Weekly Savings</span>
        </h3>
        <h3 class="value">{{money | currency}}</h3>
        <div class="percent">
            <span [ngStyle]="{'color': money > lastWeekMoney ? 'green' : 'red' }">
                {{(((money - lastWeekMoney) / money)) | percent: '2.1-2'}}
                <mat-icon *ngIf="money > lastWeekMoney">arrow_upward</mat-icon>
                <mat-icon *ngIf="money < lastWeekMoney">arrow_downward</mat-icon>
            </span>
            <span style="color: gray;"> Since Last Week</span>
        </div>
</mat-card>